*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{


min-height:100vh;


background:#ffcfe5;



display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


  font-family: "Elsie";


overflow:hidden;


}



.computador{

position:relative;

width:450px;

max-width:90vw;

}



.botao{

position:absolute;


width:100px;


right:50px;


bottom:35px;



cursor:pointer;


image-rendering:pixelated;



}


.computador > img{

width:120%;

display:block;

image-rendering:pixelated;

}





.tela{


position:absolute;



/* posição da tela no computador */


top:30%;


left:28%;



width:44%;


height:30%;



color:#972e55;



font-size:14px;



padding:15px;



overflow:visible;



line-height:1.4;



}




button{


margin-top:30px;


background:#ff8fab;


border:none;


padding:12px 25px;


border-radius:10px;


color:white;


font-size:16px;


cursor:pointer;


}




/* CELULAR */


@media(max-width:600px){



.computador{


width:250px;


max-width:95vw;


}



.tela{


font-size:11px;


padding:10px;


}




button{


font-size:14px;


padding:10px 20px;


}



}

.tela button{


position:absolute;


bottom:40px;


left: 60px;



background:#ff8fab;


border:none;


padding:2px 2px;


border-radius:12px;


color:white;


font-size:12px;


cursor:pointer;


}

.botao{

position:absolute;
width:40% !important;
height:auto;
cursor:pointer;
image-rendering:pixelated;
right:80%;


/* posição */

left:120%;

bottom:50%;
top:40%;


transition:0.2s;

}



.botao:hover{


transform:scale(1.02);


}

.elsie-regular {
  font-family: "Elsie", serif;
  font-weight: 400;
  font-style: normal;
}

.elsie-black {
  font-family: "Elsie", serif;
  font-weight: 900;
  font-style: normal;
}

/* CORAÇÕES DO FUNDO */

.coracoes span{


position:absolute;


font-size:30px;


color:#ff8fab;


animation:flutuar 3s infinite;


}



.coracoes span:nth-child(1){

left:10%;

animation-delay:0s;

}



.coracoes span:nth-child(2){

left:30%;

animation-delay:1s;

}



.coracoes span:nth-child(3){

left:50%;

animation-delay:2s;

}



.coracoes span:nth-child(4){

left:75%;

animation-delay:3s;

}



.coracoes span:nth-child(5){

left:90%;

animation-delay:4s;

}




@keyframes flutuar{


0%{

top:100%;

opacity:0;

}



20%{

opacity:1;

}



100%{

top:-20%;

opacity:0;

}



}

.power{


position:absolute;


width:12%;


cursor:pointer;


image-rendering:pixelated;


/* posição no computador */


right:10%;


bottom:55px;



filter:brightness(0.5);


transition:0.3s;


}




.power.ligado{


filter:

brightness(1.8)

drop-shadow(0 0 8px red);


}

/* CORAÇÕES FLUTUANDO */

.coracoes span{

position:absolute;

font-size:70px;

color:#ff8fab;

animation:flutuar 5s infinite;

}



/* posições */

.coracoes span:nth-child(1){

left:10%;

animation-delay:0s;

}



.coracoes span:nth-child(2){

left:30%;

animation-delay:1s;

}



.coracoes span:nth-child(3){

left:50%;

animation-delay:2s;

}



.coracoes span:nth-child(4){

left:75%;

animation-delay:3s;

}



.coracoes span:nth-child(5){

left:90%;

animation-delay:4s;

}





@keyframes flutuar{


0%{

top:100%;

opacity:0;

transform:scale(0.5);

}



20%{

opacity:1;

}



100%{

top:-20%;

opacity:0;

transform:scale(1.2);

}


}


/* IMAGEM FINAL */


.imagem-final{


position:absolute;


width:100%;


height:100%;


object-fit:contain;


opacity:0;


pointer-events:none;


transition:1s;


}





.imagem-final.aparecer{


opacity:1;


}

/* BOTÃO PRÓXIMO / CELULAR / EXIT */

.botao,
.celular,
.exit{


position:absolute;


cursor:pointer;


image-rendering:pixelated;


touch-action: manipulation;


}



/* MOBILE */

@media(max-width:600px){



.computador{


width:90vw;


}



.tela{


top:30%;


left:28%;


width:44%;


height:30%;


font-size:11px;


padding:8px;


}




/* botão de passar mensagem */


.botao{


width:25%;


left:65%;


top:70%;


}




/* celular clicável */


.celular{


width:28%;


left:65%;


top:65%;


}



/* exit */


.exit{


width:22%;


left:70%;


top:75%;


}




}